.main-container-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.list-container {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.main-container {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  align-items: center;
  width: 327px;
  height: 453px;
  box-shadow: 0px 20px 40px rgba(212, 210, 244, 0.5);
  border-radius: 10px;
  background-color: white;
  padding: 31px 29px;
}

.line {
  width: 269px;
  height: 1px;
  background-color: #6e728e;
}

.title {
  color: #6e728e;
  font-size: 18px;
  line-height: 28px;
}

.price {
  color: #4a4d60;
  font-size: 72px;
  line-height: 71px;
  letter-spacing: -2.16px;
  padding-top: 12px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.detail {
  color: #6e728e;
  font-size: 15px;
  line-height: 28px;
}

.currency {
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -1.2px;
}

.main-container-active {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  align-items: center;
  width: 327px;
  height: 453px;
  background: linear-gradient(135deg, #a2a7f0 0.06%, #696edd 100.06%);
  box-shadow: 0px 20px 40px rgba(212, 210, 244, 0.5);
  border-radius: 10px;
  padding: 31px 29px;
  transform: scale(1.1);
}

.line-active {
  width: 269px;
  height: 1px;
  background-color: white;
  opacity: 0.5;
}

.title-active {
  color: white;
  font-size: 18px;
  line-height: 28px;
}

.price-active {
  color: white;
  font-size: 72px;
  line-height: 71px;
  letter-spacing: -2.16px;
  padding-top: 12px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.detail-active {
  color: white;
  font-size: 15px;
  line-height: 28px;
}

.currency-active {
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -1.2px;
}

.learn-button {
  margin-top: 20px;
  background: linear-gradient(135deg, #a2a7f0 0%, #696edd 100%);
  border-radius: 6px;
  width: 269px;
  height: 44px;
  border: 0;
  color: white;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 13px;
  line-height: 15.85px;
  letter-spacing: 1.39px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.learn-button:hover {
  background: transparent;
  border: 1px solid #6d72de;
  color: #6d72de;
}

.learn-button:active {
  transform: scale(0.98);
}

.learn-button-active {
  margin-top: 20px;
  background: white;
  border-radius: 6px;
  width: 269px;
  height: 44px;
  border: 0;
  color: #6d72de;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 13px;
  line-height: 15.85px;
  letter-spacing: 1.39px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.learn-button-active:hover {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.learn-button-active:active {
  transform: scale(0.98);
}

.toggle-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
  padding-bottom: 80px;
}

.pricing-toggle {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.toggle-btn {
  background: linear-gradient(135deg, #a2a7f0 0%, #696edd 100%);
  border-radius: 16px;
  width: 56px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.circle {
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
}

.options {
  color: #6e728e;
  font-size: 15px;
  line-height: 28px;
  opacity: 0.5;
}

.headline {
  color: #6e728e;
  font-size: 32px;
  line-height: 39px;
}

@media (min-width: 375px) {
  .list-container {
    flex-direction: row;
    align-items: center;
  }
}
